/* Estilos para el contenedor principal */
.Uploadcontainer {
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Estilos para el formulario de carga */
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-img,
  .input-name,
  .input-style {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333; /* Puedes cambiar el color según tus preferencias */
    margin-bottom: 20px;
  }
  
  .mi-butn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  .mi-butn:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el contenedor de artículos */
  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Estilos para cada tarjeta de artículo */
  article-card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Puedes ajustar y agregar más estilos según sea necesario */
  