/* style.css */

.article {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .article-image {
        height: 300px;
        margin: 0 auto; /* Esto centra horizontalmente el elemento en un contenedor bloque */
        display: block; /* Asegura que sea un bloque para que el margin: 0 auto; funcione */
    
  }
  .articlename, .articleprice, .quantity {
    margin: 5px 0;
  }
  